/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 14 déc. 2022, 10:14:22
    Author     : marie.guerin
*/h1 {
 padding: 9px;
}
jumbroton p {
   margin-left: 11%;
   margin-top:-15px;
}

